page-login {
  .margin-top {
    margin-top: 36px;
  }
  div.item-inner {

  }


  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color:purple;
    -webkit-box-shadow: inset 0 -1px 0 0 purple ;
    box-shadow: inset 0 -1px 0 0 purple;
  }


}
